In [66]:
import pandas as pd
import csv

In [67]:
inputfile = "../data/temperature.csv"
outputfile = "../data/temperature_final.csv"

In [68]:
data = pd.read_csv(inputfile)

In [69]:
data.head()

         DATE  TAVG
0  2018-12-19    69
1  2018-12-20    71
2  2018-12-21    74
3  2018-12-22    74
4  2018-12-23    76

In [72]:
rows = []
with open(inputfile,'r') as fin , open(outputfile,'w') as fout:
    read = csv.reader(fin)
    for row in read:
        write = csv.writer(fout)
        for i in range(0,24):
            write.writerow(row)